#donation-container {
    width: 205px;
    height: 100px;
    padding: 15px 0;
    bottom: 0;
    left: 0;
    font-size: 60px;
    display: none;
}

#donation-event-name {
    display: block;
    font-size: 30px;
}

#event-logo-container {
    display: none;
}

#timer {
    width: 195px;
    height: 130px;
    line-height: 130px;
    bottom: 0;
    right: 0;
    font-size: 40px;
    padding-left: 10px;
}

.finish-time {
    opacity: 0;
}

#finish-time1 {
    top: -2000px;
    left: -2000px;
    position: absolute;
}

#game-details {
    width: 1670px;
    height: 125px;
    bottom: 0;
    font-size: 30px;
    padding-left: 45px;
    padding-top: 5px;
}

#game-name {
    color: var(--timer-color);
    font-size: 60px;
    width: 720px;
}

.game-detail-container {
    display: inline-block;
    /*min-width: 80px;*/
    padding-right: 20px;
    margin-top: -200px;
}

.game-detail-label {
    display: none;
}

#runner-details1 {
    display: block;
    height: 130px;
    width: 700px;
    bottom: 0;
    right: 205px;
    text-align: center;
}

#runner-name1 {
    position: relative;
    color: var(--timer-color);
    background-color: transparent;
    font-size: 70px;
    margin-top: 8px;
}

#pronouns1 {
    position: absolute;
    color: var(--timer-color);
    background-color: transparent;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

#game-feed1 {
    display: block;
    width: 1600px;
    height: 900px;
    top: 20px;
    left: 160px;
}
.game-detail {
    color: var(--text-color-alt);
}

#commentators-label {
    display: contents;
}
