div {
    box-sizing: border-box;
    color: white;
}

html {
    height: 1080px;
    width: 1920px;
}

body {
    background: url("../img/interview/interview_layout_transparent_lines.png");
    letter-spacing: 0.12em !important;
    overflow: hidden;
}

#runner-details1 {
    position: absolute;
    top: 683px;
    left: 23px;
    width: 520px;
    height: 93px;
}

#runner-name1, #runner-name2 {
    font-size: 32pt;
    padding-left: 76px;
    padding-top: 4px;
    transition: ease-in-out opacity 1s;
}

#runner-details2 {
    position: absolute;
    top: 683px;
    left: 971px;
    width: 520px;
    height: 93px;
}

#pronouns1, #pronouns2 {
    padding-left: 76px;
    font-size: 22pt;
    top: -6px;
    position: relative;
    color: #68ADA6;
    transition: ease-in-out opacity 1s;
}

.coming-up-info {
    height: 190px;
    width: 419px;
    left: 319px;
    top: 855px;
    padding: 3px 16px 19px;
    position: absolute;
    border: 4px #39ffc6 solid;
    border-radius: 20px;
    display: block;
    box-shadow: 0 0 10px 0 #39ffc6,
    inset 0 0 10px 0 #39ffc6;
    transition: ease-in-out opacity 1s;
}

.coming-up-info > div:first-child, .on-deck-info-wrapper > div:first-child {
    color: #39ffc6;
    font-family: "Digital Serial", serif;
    letter-spacing: normal;
}

.coming-up-info > div:first-child {
    font-size: 27pt;
    margin-bottom: 6px;
}

.on-deck-info-wrapper > div:first-child {
    font-size: 20pt;
}

.coming-up-divider {
    border-top: 3px #39ffc6 solid;
    box-shadow: 0 0 10px 1px #39ffc6;
    position: relative;
    left: -1px;
    margin-bottom: 14px;
}
.on-deck-info-wrapper {
    width: 1136px;
    height: 189px;
    top: 855px;
    left: 754px;
    position: absolute;
    transition: ease-in-out opacity 1s;
}

.on-deck-title {
    margin: 16px 0 8px 15px;
}

.on-deck-info {
    width: 368px;
    height: 135px;
    padding: 14px 17px 19px;
    float: left;
    border: 4px #39ffc6 solid;
    border-radius: 20px;
    display: block;
    opacity: 1;
    box-shadow: 0 0 10px 0 #39ffc6,
    inset 0 0 10px 0 #39ffc6;
    transition: ease-in-out opacity 1s;
}

.on-deck-info2, .on-deck-info3 {
    margin-left: 16px;
}

.coming-up-name, .coming-up-runner, .coming-up-category, .on-deck-info > div {
    font-size: 20pt;
}

.mgsr-speedy-logo {
    top: 864px;
    left: 16px;
    position: absolute;
    width: 262px;
}

.pulse-wrapper.slide-right {
    animation: linear slideRight infinite 15s;
}

.pulse-wrapper.slide-left {
    animation: linear slideLeft infinite 15s;
}

.pulse {
    position: absolute;
    height: 2px;
    width: 380px;
    box-shadow:0 0 60px 50px rgba(57, 255, 198, 0.2),
    inset 0 0 3px 1px rgba(57, 255, 198, 0.2);
    z-index: -5;
    clip-path: inset(0px -85px 0px -85px);
}

.slide-right .pulse > div {
    animation: reverse linear slideRight infinite 15s;
}

.slide-left .pulse > div {
    animation: reverse linear slideLeft infinite 15s;
}

.pulse > div {
    height: 20px;
    width: 20px;
    z-index: -2;
    position: absolute;
    opacity: 50%;
    box-shadow:0 0 50px 80px #39ffc6, inset 0 0 3px 20px #39ffc6;
    border-radius: 50%;
    mix-blend-mode: multiply;
}

.pulsebg {
    background: #052524;
    width: 1920px;
    height: 2px;
    position: absolute;
    left: 0 !important;
    z-index: -10;
}

.pulse1 {
    top: 35px;
    left: 120px;
}

.pulse1 > div {
    left: 2120px;
}

.pulse2 {
    top: 110px;
    left: 1200px;
}

.pulse3 {
    top: 785px;
    left: 620px;
}

.pulse4 {
    top: 859px;
    left: 1680px;
}

.pulse4 > div {
    left: -2420px;
}

.pulse5 {
    top: 35px;
    left: 2040px;
}

.pulse5 > div {
    left: 200px;
}

.pulse6 {
    top: 110px;
    left: -720px;
}

.pulse7 {
    top: 785px;
    /*left: -1300px;*/
    left: 2540px;
}

.pulse8 {
    top: 859px;
    left: -240px;
}

.pulse8 > div {
    left: -500px;
}

.pulse9 {
    top: 35px;
    left: 3960px;
}

.pulse9 > div {
    left: -1720px;
}

.pulse10 {
    top: 110px;
    left: -2640px;
}

.pulse11 {
    top: 785px;
    /*left: -3220px;*/
    left: 4460px;
}

.pulse12 {
    top: 859px;
    left: -2160px;
}

.pulse12 > div {
    left: 1420px;
}

@keyframes slideRight {
    0% {
        transform: translate3d(0,0,0);
    }

    100% {
        transform: translate3d(1920px,0,0);
    }
}

@keyframes slideLeft {
    0% {
        transform: translate3d(0,0,0);
    }

    100% {
        transform: translate3d(-1920px,0,0);
    }
}
